body {
  margin: 0;
  background-color: #f0f9ff;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


a {
  text-decoration: none;
}

.active {
  transform: translateX(0);
}
